In [ ]:
import pandas as pd
import time
poker_hands = pd.read_csv("poker_hand.csv")
# Define the range of rows to select: row_nums
row_nums = range(0, 1000)

# Select the rows using .loc[] and row_nums and record the time before and after
loc_start_time = time.time()
rows = poker_hands.loc[row_nums]
loc_end_time = time.time()

# Print the time it took to select the rows using .loc
print("Time using .loc[]: {} sec".format(loc_end_time - loc_start_time))

# Select the rows using .iloc[] and row_nums and record the time before and after
iloc_start_time = time.time()
rows = poker_hands.iloc[row_nums]
iloc_end_time = time.time()

# Print the time it took to select the rows using .iloc
print("Time using .iloc[]: {} sec".format(iloc_end_time-iloc_start_time))

Time using .loc[]: 0.0008392333984375 sec
Time using .iloc[]: 0.0014424324035644531 sec

In [ ]:
import pandas as pd
import time
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")

# Extract number of rows in dataset
N=poker_hands.shape[0]

# Select and time the selection of the 75% of the dataset's rows
rand_start_time = time.time()
poker_hands.iloc[np.random.randint(low=0, high=N, size=int(0.75 * N))]
print("Time using Numpy: {} sec".format(time.time() - rand_start_time))

# Select and time the selection of the 75% of the dataset's rows using sample()
samp_start_time = time.time()
poker_hands.sample(int(0.75 * N), axis=0, replace = True)
print("Time using .sample: {} sec".format(time.time() - samp_start_time))

Time using Numpy: 0.0059661865234375 sec
Time using .sample: 0.0023462772369384766 sec

In [ ]:
# Extract number of columns in dataset
import pandas as pd
import time
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")
D=poker_hands.shape[1]

# Select and time the selection of 4 of the dataset's columns using NumPy
np_start_time = time.time()
poker_hands.iloc[:,np.random.randint(low=0, high=D, size=4)]
print("Time using NymPy's random.randint(): {} sec".format(time.time() - np_start_time))

# Select and time the selection of 4 of the dataset's columns using pandas
pd_start_time = time.time()
poker_hands.sample(4, axis=1)
print("Time using panda's .sample(): {} sec".format(time.time() - pd_start_time))

Time using NymPy's random.randint(): 0.0026667118072509766 sec
Time using panda's .sample(): 0.0010135173797607422 sec

In [ ]:
# Replace

import pandas as pd
import time
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")

# เตรียมข้อมูลให้เหมือนโจทย์

replacement = [(0, 'Nothing in hand'), (1, 'One pair'), (2, 'Two pairs'), (3, 'Three of a kind'), (4, 'Straight'), (5, 'Flush'), (6, 'Full house'), (7, 'Four of a kind'), (8, 'Straight flush'), (9, 'Royal flush')]
poker_hands["Explanation"] = poker_hands["Class"]

# ใช้ np.array(replacement)[:, 0] ไม่ได้ เพราะตัวเลขกลายเป็น string ไม่รู้ทำไม แต่ช่างเถอะ เขียนเอาแบบนี้เร็วกว่า
poker_hands["Explanation"].replace([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], np.array(replacement)[:, 1], inplace=True) 

# Replace Class 1 to -2 
poker_hands['Class'].replace(1, -2, inplace=True)
# Replace Class 2 to -3
poker_hands["Class"].replace(2, -3, inplace=True)

display(poker_hands[['Class', 'Explanation']][poker_hands["Class"]==-3].head(2))
display(poker_hands[['Class', 'Explanation']][poker_hands["Class"]==-2].head(2))

    Class Explanation
59     -3   Two pairs
75     -3   Two pairs

    Class Explanation
10     -2    One pair
14     -2    One pair

In [ ]:
import pandas as pd
names = pd.read_csv("Popular_Baby_Names.csv")

start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].loc[names['Gender'] == "FEMALE"] = 'GIRL'

print("Time using .loc[]: {} sec".format(time.time() - start_time))

start_time = time.time()

# Replace all the entries that has 'FEMALE' as a gender with 'GIRL'
names['Gender'].replace("FEMALE", "GIRL", inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .loc[]: 0.0033712387084960938 sec
Time using .replace(): 0.0009434223175048828 sec

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
# Multiple Replace  
import pandas as pd
import time
names = pd.read_csv("Popular_Baby_Names.csv")

start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC' using .loc locator
names['Ethnicity'].loc[(names["Ethnicity"]=="BLACK NON HISP") | 
                       (names["Ethnicity"] == "BLACK NON HISPANIC") | 
                       (names["Ethnicity"] == "WHITE NON HISP") | 
                       (names["Ethnicity"] == "WHITE NON HISPANIC")] = "NON HISPANIC"

print("Time using .loc[]: {} sec".format(time.time() - start_time))

start_time = time.time()

# Replace all non-Hispanic ethnicities with 'NON HISPANIC'
names['Ethnicity'].replace(['BLACK NON HISP', 'BLACK NON HISPANIC', 'WHITE NON HISP' , 'WHITE NON HISPANIC'], 'NON HISPANIC', inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

start_time = time.time()

# Replace ethnicities as instructed
names['Ethnicity'].replace(["ASIAN AND PACI","BLACK NON HISP", "WHITE NON HISP"], ["ASIAN AND PACIFIC ISLANDER","BLACK NON HISPANIC", "WHITE NON HISPANIC"], inplace=True)

print("Time using .replace(): {} sec".format(time.time() - start_time))

Time using .loc[]: 0.006046772003173828 sec
Time using .replace(): 0.0025064945220947266 sec
Time using .replace(): 0.004654407501220703 sec

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [ ]:
# Replace using Dict

import pandas as pd
import time
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")

# เตรียมข้อมูลให้เหมือนโจทย์

replacement = [(0, 'Nothing in hand'), (1, 'One pair'), (2, 'Two pairs'), (3, 'Three of a kind'), (4, 'Straight'), (5, 'Flush'), (6, 'Full house'), (7, 'Four of a kind'), (8, 'Straight flush'), (9, 'Royal flush')]
poker_hands["Explanation"] = poker_hands["Class"]

# ใช้ np.array(replacement)[:, 0] ไม่ได้ เพราะตัวเลขกลายเป็น string ไม่รู้ทำไม แต่ช่างเถอะ เขียนเอาแบบนี้เร็วกว่า
poker_hands["Explanation"].replace([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], np.array(replacement)[:, 1], inplace=True) 

# Replace Royal flush or Straight flush to Flush
poker_hands.replace({"Royal flush":"Flush", "Straight flush":"Flush"}, inplace=True)
print(poker_hands['Explanation'].head())

0    Flush
1    Flush
2    Flush
3    Flush
4    Flush
Name: Explanation, dtype: object

In [ ]:
import pandas as pd
names = pd.read_csv("Popular_Baby_Names.csv")

# Replace the number rank by a string
names['Rank'].replace({1:"FIRST", 2:"SECOND", 3:"THIRD"}, inplace=True)
print(names.head())

# Replace the rank of the first three ranked names to 'MEDAL'
names.replace({"Rank": {1:"MEDAL", 2:"MEDAL", 3:"MEDAL"}}, inplace=True)

# Replace the rank of the 4th and 5th ranked names to 'ALMOST MEDAL'
names.replace({"Rank": {4:"ALMOST MEDAL", 5:"ALMOST MEDAL"}}, inplace=True)
print(names.head())

   Year of Birth  Gender  ... Count    Rank
0           2011  FEMALE  ...   119   FIRST
1           2011  FEMALE  ...   106  SECOND
2           2011  FEMALE  ...    93   THIRD
3           2011  FEMALE  ...    89       4
4           2011  FEMALE  ...    75       5

[5 rows x 6 columns]
   Year of Birth  Gender  ... Count          Rank
0           2011  FEMALE  ...   119         FIRST
1           2011  FEMALE  ...   106        SECOND
2           2011  FEMALE  ...    93         THIRD
3           2011  FEMALE  ...    89  ALMOST MEDAL
4           2011  FEMALE  ...    75  ALMOST MEDAL

[5 rows x 6 columns]

In [ ]:
# iterrows อีกแล้ว วิธีนี้ ไม่ดี ไม่แนะนำ ถ้าเลี่ยงได้เลี่ยง อย่างน้อย itertuples เร็วกว่า

import pandas as pd
import time
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")

# Create a generator over the rows
generator = poker_hands.iterrows()

# Access the elements of the 2nd row
first_element = next(generator)
second_element = next(generator)
print(first_element, second_element)

(0, S1        1
R1       10
S2        1
R2       11
S3        1
R3       13
S4        1
R4       12
S5        1
R5        1
Class     9
Name: 0, dtype: int64) (1, S1        2
R1       11
S2        2
R2       13
S3        2
R3       10
S4        2
R4       12
S5        2
R5        1
Class     9
Name: 1, dtype: int64)

In [ ]:
# iterrows อีกแล้ว วิธีนี้ ไม่ดี ไม่แนะนำ ถ้าเลี่ยงได้เลี่ยง อย่างน้อย itertuples เร็วกว่า

import pandas as pd
poker_hands = pd.read_csv("poker_hand.csv")
data_generator = poker_hands.iterrows()

for index, values in data_generator:
  	# Check if index is odd
    if index%2 != 0:
      	# Sum the ranks of all the cards
        hand_sum = sum([values[1], values[3], values[5], values[7], values[9]])

In [ ]:
# Apply ใช้ดีกว่า iterrows
import pandas as pd
poker_hands = pd.read_csv("poker_hand.csv")

print(poker_hands.head(), "\n")

# Define the lambda transformation
get_square = lambda x: x**2

# Apply the transformation
data_sum = poker_hands.apply(get_square)
print(data_sum.head())

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

   S1   R1  S2   R2  S3   R3  S4   R4  S5   R5  Class
0   1  100   1  121   1  169   1  144   1    1     81
1   4  121   4  169   4  100   4  144   4    1     81
2   9  144   9  121   9  169   9  100   9    1     81
3  16  100  16  121  16    1  16  169  16  144     81
4  16    1  16  169  16  144  16  121  16  100     81

In [ ]:
import pandas as pd
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")
poker_hands = poker_hands[poker_hands.index < 10000]

# Define the lambda transformation
get_variance = lambda x: np.var(x)

# Apply the transformation to each row
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=1)
print(data_tr.head())

# Apply the transformation to the specified columns
data_tr = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].apply(get_variance, axis=0)
print(data_tr.head())

0    18.64
1    18.64
2    18.64
3    18.64
4    18.64
dtype: float64
R1    14.330572
R2    14.175058
R3    13.928827
R4    13.943723
R5    13.986058
dtype: float64

In [ ]:
# Calculate the mean rank in each hand
import pandas as pd
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")


row_start_time = time.time()
mean_r = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=1)
print("Time using pandas vectorization for rows: {} sec".format(time.time() - row_start_time))
print(mean_r.head())

# Calculate the mean rank of each of the 5 card in all hands
col_start_time = time.time()
mean_c = poker_hands[['R1', 'R2', 'R3', 'R4', 'R5']].mean(axis=0)
print("Time using pandas vectorization for columns: {} sec".format(time.time() - col_start_time))
print(mean_c.head())

Time using pandas vectorization for rows: 0.0019118785858154297 sec
0    9.4
1    9.4
2    9.4
3    9.4
4    9.4
dtype: float64
Time using pandas vectorization for columns: 0.0019192695617675781 sec
R1    6.995242
R2    7.014194
R3    7.014154
R4    6.942463
R5    6.962735
dtype: float64

In [ ]:
import pandas as pd
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")

# Calculate the variance of the ranks of all the cards in each hand using vectorization with pandas.
start_time = time.time()
poker_var = poker_hands[["R1", "R2", "R3", "R4", "R5"]].var(axis=1)
print("Time using pandas vectorization: {} sec".format(time.time() - start_time))
print(poker_var.head())

# Calculate the variance of the ranks of all the cards in each hand using vectorization with NumPy.
start_time = time.time()
poker_var = poker_hands[["R1", "R2", "R3", "R4", "R5"]].values.var(axis=1, ddof=1)
print("Time using NumPy vectorization: {} sec".format(time.time() - start_time))
print(poker_var[0:5])

Time using pandas vectorization: 0.0020606517791748047 sec
0    23.3
1    23.3
2    23.3
3    23.3
4    23.3
dtype: float64
Time using NumPy vectorization: 0.002048015594482422 sec
[23.3 23.3 23.3 23.3 23.3]

In [ ]:
### Groupby
import pandas as pd
import numpy as np

restaurant_data = pd.read_csv("restaurant_data.csv")

# Define the min-max transformation
min_max_tr = lambda x: (x - x.min()) / (x.max() - x.min())

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby("time")

# Apply the transformation
restaurant_min_max_group = restaurant_grouped.transform(min_max_tr)
print(restaurant_min_max_group.head(), "\n")

# Define the exponential transformation
exp_tr = lambda x: np.exp(-x.mean()*x) * x.mean()

# Group the data according to the time
restaurant_grouped = restaurant_data.groupby("time")

# Apply the transformation
restaurant_exp_group = restaurant_grouped['tip'].transform(exp_tr)
print(restaurant_exp_group.head())

   total_bill       tip  size
0    0.291579  0.001111   0.2
1    0.152283  0.073333   0.4
2    0.375786  0.277778   0.4
3    0.431713  0.256667   0.2
4    0.450775  0.290000   0.6

0    0.135141
1    0.017986
2    0.000060
3    0.000108
4    0.000042
Name: tip, dtype: float64

In [ ]:
import pandas as pd
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")
poker_grouped = poker_hands.groupby("Class")
zscore = lambda x: (x - x.mean()) / x.std()

# Apply the transformation
poker_trans = poker_grouped.transform(zscore)
display(poker_trans.head())

# Groupby ใช้กับการจัดกลุ่มด้วยคอลัมน์จากตารางเดิมได้ด้วยรึ ?

poker_regrouped = poker_trans.groupby(poker_hands["Class"])
print(np.round(poker_regrouped.mean(), 1))
print(poker_regrouped.std())

         S1        R1        S2  ...        R4        S5        R5
0 -1.380537  0.270364 -1.380537  ...  0.350823 -1.380537 -0.724286
1 -0.613572  0.495666 -0.613572  ...  0.350823 -0.613572 -0.724286
2  0.153393  0.720969  0.153393  ... -1.403293  0.153393 -0.724286
3  0.920358  0.270364  0.920358  ...  1.227881  0.920358  1.267500
4  0.920358 -1.757363  0.920358  ... -0.526235  0.920358  0.905357

[5 rows x 10 columns]

        S1   R1   S2   R2   S3   R3   S4   R4   S5   R5
Class
0      0.0  0.0 -0.0 -0.0 -0.0 -0.0  0.0 -0.0 -0.0 -0.0
1     -0.0 -0.0  0.0 -0.0  0.0  0.0  0.0  0.0 -0.0  0.0
2     -0.0 -0.0 -0.0 -0.0 -0.0  0.0 -0.0  0.0  0.0  0.0
3     -0.0  0.0  0.0 -0.0 -0.0 -0.0  0.0 -0.0  0.0 -0.0
4      0.0 -0.0 -0.0 -0.0  0.0 -0.0 -0.0  0.0  0.0  0.0
5     -0.0 -0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0 -0.0  0.0
6     -0.0 -0.0 -0.0  0.0  0.0 -0.0  0.0  0.0 -0.0  0.0
7      0.0 -0.0 -0.0  0.0 -0.0  0.0  0.0 -0.0 -0.0 -0.0
8     -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0 -0.0 -0.0
9      0.0 -0.0  0.0 -0.0  0.0 -0.0  0.0  0.0  0.0 -0.0
        S1   R1   S2   R2   S3   R3   S4   R4   S5   R5
Class
0      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
1      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
2      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
3      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
4      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
5      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
6      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
7      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
8      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0
9      1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

In [ ]:
# ดูตารางใหม่ตามกลุ่มที่จัด แบบนี้ได้ไหม ?

import pandas as pd
import numpy as np
poker_hands = pd.read_csv("poker_hand.csv")
poker_grouped = poker_hands.groupby("Class")
same = lambda x: x
display(poker_hands.head())
print("\n")
# Apply the transformation
poker_trans = poker_grouped.transform(same)
display(poker_trans.head())
print("\n")
print("ใช้ get_group เพื่อดึงข้อมูลเดิมตามกลุ่ม น่าจะเหมาะกว่า")
display(poker_grouped.get_group(9))

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5
0   1  10   1  11   1  13   1  12   1   1
1   2  11   2  13   2  10   2  12   2   1
2   3  12   3  11   3  13   3  10   3   1
3   4  10   4  11   4   1   4  13   4  12
4   4   1   4  13   4  12   4  11   4  10

ใช้ get_group เพื่อดึงข้อมูลเดิมตามกลุ่ม น่าจะเหมาะกว่า

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In [ ]:
# หาจำนวนข้อมูลที่หาย แยกตามกลุ่ม

import pandas as pd
import numpy as np
restaurant_nan = pd.read_csv("restaurant_nan.csv")

# Group both objects according to smoke condition
restaurant_nan_grouped = restaurant_nan.groupby("smoker")

# Store the number of present values (คอลัมน์ที่ค่าหาย คือ คอลัมน์ tip)
restaurant_nan_nval = restaurant_nan_grouped['tip'].count()

# Print the group-wise missing entries (คอลัมน์อื่นค่าครบ เอามาลบจึงได้เป็นค่าที่หาย)
print(restaurant_nan_grouped['total_bill'].count() - restaurant_nan_nval, "\n")

print("ถ้าไม่ใช้ groupby ทำได้อีกหลายวิธี อาทิ")
print("จำนวนค่า tip ที่หายไปเมื่อ smoker = Yes คือ ", restaurant_nan[restaurant_nan["smoker"]=="Yes"]["tip"].isnull().sum())
print("จำนวนค่า tip ที่หายไปเมื่อ smoker = No คือ ", restaurant_nan[restaurant_nan["smoker"]=="No"]["tip"].isnull().sum())

smoker
No     41
Yes    24
dtype: int64

ถ้าไม่ใช้ groupby ทำได้อีกหลายวิธี อาทิ
จำนวนค่า tip ที่หายไปเมื่อ smoker = Yes คือ  24
จำนวนค่า tip ที่หายไปเมื่อ smoker = No คือ  41

In [51]:
# เติมข้อมูลที่หาย ด้วยค่ามัธยฐานจำแนกตามกลุ่ม

import pandas as pd
import numpy as np

restaurant_data = pd.read_csv("restaurant_data_missing_bills.csv")
del restaurant_data["Unnamed: 0"]

display(restaurant_data.head())
print("\n")

# Define the lambda function
missing_trans = lambda x: x.fillna(x.median())

# Group the data according to time
restaurant_grouped = restaurant_data.groupby("time")

# Apply the transformation
restaurant_impute = restaurant_grouped.transform(missing_trans)
display(restaurant_impute.head())

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2         NaN  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

   total_bill   tip  size
0       16.99  1.01     2
1       10.34  1.66     3
2       18.69  3.50     3
3       23.68  3.31     2
4       24.59  3.61     4

In [57]:
# Filter by group

import pandas as pd
import numpy as np
restaurant_data = pd.read_csv("restaurant_data.csv")
# Filter the days where the count of total_bill is greater than $40
total_bill_40 = restaurant_data.groupby('day').filter(lambda x: x['total_bill'].count() > 40)

# Select only the entries that have a mean total_bill greater than $20
total_bill_20 = total_bill_40.groupby('day').filter(lambda x : x['total_bill'].mean() > 20)

# Print days of the week that have a mean total_bill greater than $20
print('Days of the week that have a mean total_bill greater than $20:', total_bill_20.day.unique())

# How many entries (rows) does the last DataFrame you created (total_bill_20) have?
print("How many entries (rows) does the last DataFrame you created (total_bill_20) have?")
print(len(total_bill_20))

Days of the week that have a mean total_bill greater than $20: ['Sun' 'Sat']
How many entries (rows) does the last DataFrame you created (total_bill_20) have?
163

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3063: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.iloc._setitem_with_indexer(indexer, value)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3041: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2           NaN  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [ ]:
%whos

Interactive namespace is empty.